{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "tailwindStylesheet": "./style.css",
  "tailwindFunctions": [
    "Article",
    "Aside",
    "Button",
    "Div",
    "Figcaption",
    "Figure",
    "Form",
    "Heading",
    "Img",
    "Input",
    "Label",
    "Li",
    "Link",
    "Paragraph",
    "Section",
    "Span",
    "Ul",
    "create"
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
