@import 'tailwindcss';

@theme {
  --color-login-button: #a3b4cc;
  --shadow-card-shadow: box-shadow: 0px 4px 14.9px 0px #00000040;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    background-image:
      linear-gradient(rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.98)),
      url('/images/background.png');
    @apply flex min-h-screen flex-col;
    @apply bg-cover bg-fixed bg-center bg-no-repeat;
  }

  h1 {
    @apply text-2xl font-bold md:text-4xl;
  }
  h2 {
    @apply text-xl font-bold md:text-3xl;
  }
  h3 {
    @apply text-lg font-semibold md:text-2xl;
  }
  h4 {
    @apply text-base font-semibold md:text-xl;
  }
  h5 {
    @apply text-sm font-medium md:text-lg;
  }
  h6 {
    @apply text-xs font-medium md:text-base;
  }

  a {
    @apply text-white;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  #header {
    @apply flex items-center justify-between bg-slate-700 p-3 text-white;
  }

  #nav {
    @apply flex gap-2 bg-slate-400 p-3;
  }

  #root {
    @apply flex-1;
  }

  #footer {
    @apply mt-10 w-full;

    & .address-container {
      @apply flex flex-col bg-[#334156] not-italic;
    }
  }

  .heading-1 {
    @apply hidden h-full text-2xl font-bold md:flex;
  }

  .logo-container {
    @apply flex h-full items-center justify-center gap-2;
  }

  .login-button {
    @apply rounded-full bg-login-button px-3;
  }

  .cart-login-container {
    @apply flex gap-3;
  }

  .cart-button {
    @apply relative px-2;
  }

  .cart-count {
    @apply absolute -top-1 -left-1 flex h-5 w-5 items-center justify-center rounded-full bg-red-500 text-xs text-white;
  }

  .main-container {
    @apply m-2 flex flex-col items-center p-2;
  }

  .hero-image {
    @apply h-38 w-full object-cover md:h-full;
  }

  .products-container {
    @apply flex flex-col gap-4 shadow-none sm:w-9/10 md:gap-0 md:shadow-xl lg:w-fit lg:items-center;
  }

  /* CARDS */
  .card {
    @apply flex w-full flex-col items-center justify-center gap-4 overflow-hidden rounded-lg bg-white p-6 text-black shadow-lg sm:gap-6 md:shadow-none;
  }

  /* Product card */
  .product-detail-card {
  }

  /* List card */
  .product-list-card {
    @apply md:flex-row md:rounded-none;
  }

  /* Image wrapper */
  .card-image-wrapper {
    @apply flex w-full items-center sm:w-auto;
  }

  /* Image */
  .card-image {
    @apply aspect-square h-auto w-full rounded-lg object-cover sm:w-auto md:h-48;
  }

  /* Figcaption */
  .card-caption {
    @apply flex h-full w-fit flex-1 flex-col gap-4 text-xl;
  }

  .product-list-card .card-caption {
    @apply h-full gap-5 md:flex-row;
  }

  .description-review-container {
    @apply flex flex-col;
  }

  .stock-price-container {
    @apply flex flex-col justify-end;
  }

  /* FOOTER */
  .footer-image {
    @apply block h-auto w-full;
  }

  .address-container {
  }
}

@layer utilities {
}
